.bodybg{
 -fx-background-image: url('overworld.jpg');
 -fx-background-size: 100% 100%;
}

.cyclops{
 -fx-background-image: url('cyclops.png');
 -fx-background-size: 100% 100%;
}

.dragon{
 -fx-background-image: url('dragon.png');
 -fx-background-size: 100% 100%;
}

.goblin{
 -fx-background-image: url('goblin.png');
 -fx-background-size: 100% 100%;
}

.gryffin{
 -fx-background-image: url('gryffin.png');
 -fx-background-size: 100% 100%;
}

.harpy{
 -fx-background-image: url('harpy.png');
 -fx-background-size: 100% 100%;
}

.kobold{
 -fx-background-image: url('kobold.png');
 -fx-background-size: 100% 100%;
}

.minotaur{
 -fx-background-image: url('minotaur.png');
 -fx-background-size: 100% 100%;
}

.ogre{
 -fx-background-image: url('ogre.png');
 -fx-background-size: 100% 100%;
}

.slime{
 -fx-background-image: url('slime.png');
 -fx-background-size: 100% 100%;
}

.troll{
 -fx-background-image: url('troll.png');
 -fx-background-size: 100% 100%;
}

.unicorn{
 -fx-background-image: url('unicorn.png');
 -fx-background-size: 100% 100%;
}

.vampire{
 -fx-background-image: url('vampire.png');
 -fx-background-size: 100% 100%;
}

.wraith{
 -fx-background-image: url('wraith.png');
 -fx-background-size: 100% 100%;
}

.wyvern{
 -fx-background-image: url('wyvern.png');
 -fx-background-size: 100% 100%;
}

.zombie{
 -fx-background-image: url('zombie.png');
 -fx-background-size: 100% 100%;
}

.hero{
 -fx-background-image: url('character.png');
 -fx-background-size: 100% 100%;
}

.forest{
    -fx-background-image: url('Forest.jpg');
    -fx-background-size: 100% 100%;
}

.tundra{
    -fx-background-image: url('tundra.jpg');
    -fx-background-size: 100% 100%;
}

.marsh{
    -fx-background-image: url('marsh.jpg');
    -fx-background-size: 100% 100%;
}

.desert{
    -fx-background-image: url('desert.jpg');
    -fx-background-size: 100% 100%;
}

.plains{
    -fx-background-image: url('plains.jpg');
    -fx-background-size: 100% 100%;
}

.mountain{
    -fx-background-image: url('mountain.jpg');
    -fx-background-size: 100% 100%;
}

.mines{
    -fx-background-image: url('mines.jpg');
    -fx-background-size: 100% 100%;
}